@import '../../index.scss';

.forget-form-finish-comp {
  align-items: center;
    .result-content {
        column-gap: 10px;
        .check-icon {
            font-size: 40px;
            color: $green;
        }
    }
    @media screen and (max-width: 500px) {
        width: 70vw !important;
        .result-content {
          justify-content: center;
          text-align: center;

          row-gap: 10px;
        }
        button {
          width: 50vw !important;
        }
    }
    @media screen and (max-width: 400px) {
      width: 90vw !important;
      button {
        width: 50vw !important;
      }
  } 
}

