$background-color: #18191a;
$white: white;
$gray: #eaeaea;
$blue-sky: #1196f5;
$green: #43cc48;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.jc-cen {
  justify-content: center;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.jc-ev {
  justify-content: space-evenly;
}

.ali-cent {
  align-items: center;
}

.margin-zero {
  margin: 0px;
}

.cent-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-h {
  height: 100vh;
}

.full-w {
  width: 100vw;
}

.form {
  background-color: $white;
    row-gap: 20px;

    width: 400px;

    padding: 20px 10px;

    .form-title {
        text-align: center;
        font-weight: bold;

        font-size: 30px;
    }

    .form-container {
        row-gap: 10px;
        .form-field {
            input {
                width: 300px;
                height: 35px;

                border: $gray solid 2px;

                padding-left: 20px;
            }
        }
        .cleckbox-field {
          align-items: center;
          column-gap: 7px;
          input {
            cursor: pointer;
          }
          p {
            margin: 0px;
          }
        }
    }

    .blue-sky-btn {
        margin-top: 10px;

        width: 300px;
        height: 30px;

        background-color: $blue-sky;
        color: $white;

        border: none;

        transition-duration: 0.3s;
    }

    .blue-sky-btn:hover {
      background-color: transparent; 
      color: $blue-sky;

      border: $blue-sky solid 1px;

      cursor: pointer;
    }
}
