@import '../../index.scss';

.login-form-comp {
    background-color: white;
    row-gap: 20px;

    width: 400px;

    padding: 20px 10px;

    .title {
        text-align: center;
        font-weight: bold;

        font-size: 30px;
    }

    .form-container {
        row-gap: 10px;
        .form-field {
            input {
                width: 300px;
                height: 35px;

                border: #eaeaea solid 2px;
            }
        }
    }

    .login-btn {
        margin-top: 10px;
        width: 300px;
    }
}